{% load staticfiles %}
<script src="{% static "jquery-2.1.4.min.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap-3.3.4/css/bootstrap-theme.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-3.3.4/css/bootstrap.min.css" %}">
<script src="{% static "adminpanel.js" %}"></script>
<!-- <link rel="stylesheet" href="{% static "panel.css" %}"> -->
<!-- {% for opinion in opinions %} -->
<!-- <div class="news">Loading News...</div> -->
<!-- <div class='jumbotron'> -->
<!-- <p>
	<div class="news-title">News ...</div>
	<div class="opinion">Opinion ...</div>
	<!-- <h4>{{opinion.news_slug}}</h4> <br> -->
	<!-- {{opinion.text}} -->
	<!-- <button type="button" opinion-id="{{opinion.id}}" class="btn btn-sm btn-primary approve">Approve</button> -->
	<!-- <button type="button" opinion-id="{{opinion.id}}" class="btn btn-sm btn-danger reject">Reject</button> -->
	<!-- {{opinion.text}} <a href="#" class="approve" id={{opinion.id}}>Approve</a>  -->
	<!-- <button id={{opinion.id}} class='approve'>Approve</button> -->
<!-- </p> --> -->
<!-- </div> -->
<!-- <hr/> -->
<!-- <br>  -->
<!-- {% endfor %} -->