<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>

	{% if user.is_authenticated %}
	<a href="/accounts/logout/">Logout</a>
	{% else %}
	<a href="/accounts/login/">Login</a>
	{% endif %}
	<br>

	{% block content %}{% endblock content %}
</body>
</html>
