{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{% static "bootstrap-3.3.4/css/bootstrap-theme.min.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap-3.3.4/css/bootstrap.min.css" %}">
	<script src="{% static "jquery-2.1.4.min.js" %}"></script>
	<script src="{% static "bootstrap-3.3.4/js/bootstrap.min.js" %}"></script>
</head>

<body>

	{% if user.is_authenticated %}
	<a href="/accounts/logout/">Logout</a>
	{% else %}
	<a href="/accounts/login/">Login</a> | 
	<a href="/register">Sign Up</a>
	{% endif %}
	<br>

	<a href="/">Home</a> <br>

	{% block content %}{% endblock content %}
</body>
</html>
