{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<p>
    {{news}}<br>
</p>
<script src="{% static "vote-ajax.js" %}"></script>
<script src="{% static "delete-comment.js" %}"></script>

<form action="{% url 'submit' news_id %}" method="post"> {% csrf_token %}
    Comment:<br>
    <input type="text" name="comment" placeholder="Express your opinion ...">
    <input type="submit" value="Submit"> <br>
</form>

{% for ct in cts %}
{{ ct.text }} by {{ct.user.username}} Upvotes: {{ct.upvotes}}
<button id ="{{ct.uuid}}" class="upvote" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">Upvote</button>
Downvotes: {{ct.downvotes}}
<button id ="{{ct.uuid}}" class="downvote" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">Downvote</button>
<button id="{{ct.uuid}}" class="delete_comment">Delete</button>
<br>
{% endfor %}
{% endblock content %}