{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script src="{% static "jquery-2.1.4.min.js" %}"></script>
<link rel="stylesheet" href="{% static "bootstrap-3.3.4/css/bootstrap-theme.min.css" %}">
<link rel="stylesheet" href="{% static "bootstrap-3.3.4/css/bootstrap.min.css" %}">
<script src="{% static "adminpanel.js" %}"></script>
<!-- Latest compiled and minified CSS -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<style>
.opinion-box {
	border: 1px solid black;
}
</style>

<div class="btn-group btn-toggle"> 
    <button class="btn btn-default">Timeline</button>
    <button class="btn btn-primary active">Categorized</button>
  </div>
  <script>
$('.btn-toggle').click(function() {
    $(this).find('.btn').toggleClass('active');  
    
    if ($(this).find('.btn-primary').size()>0) {
    	$(this).find('.btn').toggleClass('btn-primary');
    }
    if ($(this).find('.btn-danger').size()>0) {
    	$(this).find('.btn').toggleClass('btn-danger');
    }
    if ($(this).find('.btn-success').size()>0) {
    	$(this).find('.btn').toggleClass('btn-success');
    }
    if ($(this).find('.btn-info').size()>0) {
    	$(this).find('.btn').toggleClass('btn-info');
    }
    
    $(this).find('.btn').toggleClass('btn-default');       
});
$('.approve').click(function() {
	console.log('clicked on Approve');
	$(this).text('Approved');
});
</script>
<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-4'>Loading News ...</div>
		<div class='col-sm-8'></div>
	</div>
</div>

<div class='jumbotron'></div>

{% endblock content %}